doctype html
html(lang="zh-cmn-Hans")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="flexible" content="initial-dpr=2,maximum-dpr=2")
    meta(content="yes" name="apple-mobile-web-app-capable")
    meta(content="yes" name="apple-touch-fullscreen")
    meta(content="telephone=no,email=no" name="format-detection")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    block title
      title YYwork animation
    block css
      link(rel="stylesheet" type="text/css"  src="../css/animation.csss")
    block js
  block body
    body
      h2 tansform
      div.tansform


