@import "compass";
@import "compass/css3";
@import "compass/utilities/";
@import "../../../bower_components/compass-breakpoint/stylesheets/breakpoint";
// @import "normalize";
$base-color: #37a508;
$animation-color: #4078C4;
// 形状
.tansform {
  position: relative;
}

.demo {
  border: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
  // overflow: hidden;
}

.square {
  @include inline-block;
  width: 100px;
  height: 100px;
  background-color: $base-color;
  border: 1px solid #555;
}

.demo-vertical {
  position: absolute;
  @include inline-block;
  width: 100px;
  height: 100%;
  border: 1px solid #ddd;
  left: 50%;
  margin-left: -50px;
}

.rotate {
  @include transform(rotate(45deg));
}

.translate {
  @include transform(translate(100px, 20px));
}

.translate-x {
  @include transform(translateX(100px));
}

.translate-y {
  @include transform(translateY(20px));
}

.scale {
  @include transform(scale(2, 1.5));
}

.scale-x {
  @include transform(scaleX(2));
}

.scale-y {
  @include transform(scaleY(1.5));
}

.skew {
  @include transform(skew(30deg, 10deg));
}

.skew-x {
  @include transform(skewX(30deg));
}

.skew-y {
  @include transform(skewY(10deg));
}
