doctype html
html(lang="zh-cmn-Hans")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="flexible" content="initial-dpr=2,maximum-dpr=2")
    meta(content="yes" name="apple-mobile-web-app-capable")
    meta(content="yes" name="apple-touch-fullscreen")
    meta(content="telephone=no,email=no" name="format-detection")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    block title
      title YYwork animation
    block css
      link(rel="stylesheet" type="text/css" href="../css/animation.css")
    block js
  block body
    body
      h2 tansform

      div.tansform
        h1 基本位置对照
        div.demo-vertical
        div.demo
          div.square text
        h2 旋转 rotate
        div.demo
          div.square.rotate text
        h2 扭曲 translate
        div.demo
          div.square.translate text
        h3 扭曲 translateX
        div.demo
          div.square.translate-x text
        h3 扭曲 translateY
        div.demo
          div.square.translate-y text
        h2 缩放 scale
        div.demo
          div.square.scale text
        h3 缩放 scaleX
        div.demo
          div.square.scale-x text
        h3 缩放 scaleY
        div.demo
          div.square.scale-y text
        h2 扭曲 scale
        div.demo
          div.square.skew text
        h3 扭曲 scaleX
        div.demo
          div.square.skew-x text
        h3 扭曲 scaleY
        div.demo
          div.square.skew-y text



